<header>
	<h1 class="center handwritten"> <%= @deck.name %> </h1>
	    <div class="btn-group">
			<%= link_to 'Back', decks_path, :class => "btn btn-primary btn-large" %>
			<%= link_to 'Edit', edit_deck_path(@deck), :class => "btn btn-large"%>
			<%= link_to 'Delete', @deck, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-large" %>
		</div>
	<p id="notice"><%= notice %></p>
</header>
<hr>
<section>
	<h2 class="handwritten">Add Card</h2>
	<%= form_for [@deck, @deck.cards.build], :html => {:class => 'form-inline'} do |f| %>
		<%= f.label :title, "Word:" %>
		<%= f.text_field :title  %>
		<%= f.label :description, "Description:" %>
		<%= f.text_field :description %>
		<%= f.submit "Add Card", :class => "btn btn-primary" %>
	<% end %>
</section>

<br>

<% @deck.cards.each do |card| %>
	<% unless card.title == nil	 %>
		<article class="card shadow center">
		    <h1 class="card-header center"> <%= card.title %> </h1>
			<p class="card-row">
				<%= card.description %>
			</p>
			<div class="pull-right push-5">
				<%= link_to "Delete Card", [@deck, card], :method => :delete, :confirm => "Are your sure?", :class => "btn btn-default"  %>
			</div>
		</article>
		<br>
		<hr>
		<br>
	<% end %>	
<% end %>

<br>

<footer>
      <%= link_to 'Back', decks_path, :class => "btn btn-primary btn-large width-card" %>
</footer>