<div class="jumbotron">
  <div class="container">
	<h1> <%= @deck.name %></h1>
	<div class="btn-group">
		<%= link_to 'Back', decks_path, :class => "btn btn-default" %>
		<%= link_to 'Edit', edit_deck_path(@deck), :class => "btn btn-default"%>
		<%= link_to 'Delete', @deck, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-default" %>
	</div>
	<hr>
	<h2>Study Cards</h2>
	<p id="notice"><%= notice %></p>

	<% @deck.cards.each do |card| %>
		<p><strong><%= card.title %></strong> : <%= card.description %></p>
		<%= link_to "Delete Card", [@deck, card], :method => :delete, :confirm => "Are your sure?", :class => "btn btn-default"  %>
	<% end %>
	<br />
	<hr>
	<h2>Add Cards</h2>
	<%= form_for [@deck, @deck.cards.build] do |f| %>
		<%= f.label :title, "Word:" %>
		<%= f.text_field :title  %>
		<%= f.label :description, "Description:" %>
		<%= f.text_field :description %>
		<%= f.submit "Add Card" %>
	<% end %>

  </div>
</div>