<h1> <%= @deck.name %></h1>

<p id="notice"><%= notice %></p>

<% @deck.cards.each do |card| %>
	<p><%= card.title %> : <%= card.description %></p>
	<%= link_to "Delete Card", [@deck, card], :method => :delete, :confirm => "Are your sure?" %>
<% end %>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
<%= link_to 'Delete', @deck, :method => :delete, :confirm => "Are you sure?" %>

<%= form_for [@deck, @deck.cards.build] do |f| %>
	<%= f.label :title, "Word:" %>
	<%= f.text_field :title  %>
	<%= f.label :description, "Description:" %>
	<%= f.text_field :description %>
	<%= f.submit "Add Card" %>
<% end %>