<!DOCTYPE html>
<html>
<head>
  <title>Flash Card : Study Helper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "shared/shiv" %>
</head>
<body>
<%= render "shared/nav" %>
<div style="width:80%;" class="container center drop-50">
<%= yield %>
<br>
<hr>
<br>
<%= debug(params) if Rails.env.development? %>
<%= render "shared/jsinclude" %>
</div>
</body>
</html>
